
.App {
  overflow: hidden;
}

.App-header {
  color: white;
  background-color: #f3f3f3;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  margin: 10px 2em 10px 10px;
}
.logo .app-logo {
  vertical-align: middle;
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.logo .logo-text {
  vertical-align: bottom;
  color: #000;
  font: 500 30px/1 Arial;
}
.logo .hidden-text {
  display: none;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  margin: 60px 0 0;
  padding: 10px 0;
  color: white;
  background-color: #383838;
  box-sizing: border-box;  
}
.App-footer .footer-link {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  text-align: center;
}
.footer-link li {
  display: inline-block;
}
.footer-link .copyright {
  color: #111;
  font: 600 14px 'Noto Sans KR';
}
.footer-link .copyright em {
  font-style: normal;
  color: #232323;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width:479px) {
  .logo {
    margin: 5px 20px 10px 10px;
  }
  .logo .app-logo {
    height: 28px;
  }
  .logo .logo-text {
    font-size: 18px;
  }
  .App-footer {
    margin-top: 20px;
    padding: 10px 0 20px; 
  }
}
