
.blob-canvas {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0 0;
}
.canvas-area {
  overflow: hidden;
}
.canvas-cover {
}
.canvas-cover canvas {
  display: block;
  width: 600px;
  max-width: 600px;
}

.canvas-caption {
  margin: 0 0 0 20px;
}
.canvas-caption .field {
  margin: 0 0 20px;
}
.canvas-caption textarea {
  display: block;
  width: 278px;
  margin: 0 0;
  padding: 8px 10px;
  font: 13px/1.5 'Noto Sans KR', sans-serif;
  height: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  resize: none;
}
.canvas-caption .handler-fontsize {
  text-align: right;
}
.canvas-caption .handler-fontsize button {
  min-width: 36px;
  vertical-align: middle;
}
.canvas-caption .decrease-font-size {
  font-size: .8em;
}
.canvas-caption .increase-font-size {
  font-size: 1.2em;
}

.divider {
  display: inline-block;
  vertical-align: middle;
  margin: 0 -1px;
  width: 1px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.12);
}

