/*@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@import url(//fonts.googleapis.com/css?family=Droid+Serif:700);
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 600;
   src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

body {
  margin: 0;
  padding: 0;
  font: 14px/1.5 'Noto Sans KR', sans-serif;
}

a {
  color: #0F74BD;
  text-decoration: none;
}
a:hover {
  color: #3af;
}

.browser-upgrade {
  padding: 11px 12px 11px 30px;
  text-align: left;
  font: 17px/1.7 Calibri,Helvetica,Arial,sans-serif;
  border-bottom: 1px solid #A29330;
  background-color: #fff8ea;
}

.container {
  width: 970px;
  min-width: 320px;
	margin: 0 auto;
}

@media screen and (max-width:479px) {
  .container {
    width: auto;
  }
}