.font-switcher {
	margin-bottom: -16px;
}

.font-switcher label {
	cursor: pointer;
}
.font-switcher label span {
  display: inline-block;
  vertical-align: top;
}
.font-switcher label > div {
  display: inline-block !important;
  margin: 0 10px;
  width: auto !important;
	vertical-align: middle;
}

@media screen and (max-width:479px) {
  .font-switcher {
    display: none;
  }
}