
.blob-canvas {
  display: flex;
  /*justify-content: center;*/
  align-items: flex-start;
  margin: 20px 0 0;
}
.canvas-area {
  overflow: hidden;
}
.canvas-cover {
  position: relative;
}
.canvas-cover canvas {
  position: relative;
  display: block;
  width: 600px;
  max-width: 600px;
}

.canvas-caption {
  margin: 0 0 0 20px;
  background-color: #FFF;
}
.canvas-caption .field {
  position: relative;
  margin: 0;
}
.canvas-caption .field label {
  left: 5px;
}
.canvas-caption textarea {
  display: block;
  margin: -6px 0 -7px;
  padding: 6px;
  width: 270px;
  height: 66px;
  font: 14px/1.5 'Noto Sans KR', sans-serif;
  background-color: rgba(0,0,0, .05);
}
.canvas-caption .handler-fontsize {
  text-align: right;
}
.canvas-caption .handler-fontsize button {
  min-width: 36px;
  vertical-align: middle;
}
.canvas-caption .decrease-font-size {
  font-size: .8em;
}
.canvas-caption .increase-font-size {
  font-size: 1.2em;
}
.canvas-caption .generate-image {
  margin-top: 20px;
}
.canvas-caption .full-button {
  width: 100%;
}

.divider {
  display: inline-block;
  vertical-align: middle;
  margin: 0 -1px;
  width: 1px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.12);
}

